<div className="hc-repeat-list">
  <div className="hc-form-item">
    <div className="hc-form-item-row">

        <div className="hc-form-item-element-container">
          <div className="hc-form-split">
          <div className="hc-form-item-element">
            34.5345352345234 / 11.23412341234
          </div>
        </div>
      </div>

      <div className="hc-form-item-element-extra">
  {> edit-delete}
      </div>

    </div>
  </div>

  <div className="hc-form-item m1">
    <div className="hc-form-item-row">

        <div className="hc-form-item-element-container">
          <div className="hc-form-split">

          <div className="hc-form-item-element">
            12.2342343 / 44.56456345
          </div>

        </div>
      </div>

      <div className="hc-form-item-element-extra">
        {> edit-delete}
      </div>
    </div>
  </div>
</div>
