<nav>
<a href="index.html">Huc Design</a><br>
<a href="wp3-01.html">Form</a><br>
<a href="wp3-02.html">Form</a><br>
<a href="wp3-03.html">Form</a><br>
<a href="wp3-04.html">Form</a><br>
<a href="wp3-file-detail.html">Detail</a><br>
<a href="tim-home.html">Timbuctoo home</a><br>
<a href="tim-dataset.html">Timbuctoo Dataset</a><br>
<a href="tim-search.html">Timbuctoo Search Dataset (Table)</a><br>
<a href="tim-dataset-detail.html">Timbuctoo Dataset Detail</a><br>
<a href="tim-my-datasets.html">My datasets overview (meta, tables, structure)</a><br>
<a href="tim-my-datasets-edit.html">Tim edit dataset table (structure)</a><br>
</nav>
