<div style="display:flex; justify-content: space-between; width:100%;">
  <div style="flex:1">Button loud</div>
  <div style="flex:1">Button basic</div>
  <div style="flex:1">Button basic small</div>
  <div style="flex:1">Button subtle</div>
</div>

<div style="display:flex; justify-content: space-between; width:100%;">
  <div style="flex:1"><button class="hc-loud">Save</button></div>
  <div style="flex:1"><button>Save</button></div>
  <div style="flex:1"><button class="hc-small">Add another</button></div>
  <div style="flex:1"><button class="hc-subtle">Save</button></div>
</div>
