<div class="hc-repeat-list">
  <div class="hc-form-item">
    <div class="hc-form-item-row">

        <div class="hc-form-item-element-container">
          <div class="hc-form-split">
          <div class="hc-form-item-element">
            34.5345352345234 / 11.23412341234
          </div>
        </div>
      </div>

      <div class="hc-form-item-element-extra">
  {{> edit-delete}}
      </div>

    </div>
  </div>

  <div class="hc-form-item m1">
    <div class="hc-form-item-row">

        <div class="hc-form-item-element-container">
          <div class="hc-form-split">

          <div class="hc-form-item-element">
            12.2342343 / 44.56456345
          </div>

        </div>
      </div>

      <div class="hc-form-item-element-extra">
        {{> edit-delete}}
      </div>
    </div>
  </div>
</div>
