<li>
  <div class="hc-list-item-primair hc-tooltip-show">
    <div class="itemSpread">
      <strong>{{file-name}}</strong>
      <div class="hc-tooltip"><a href="file-detail.html">View file</a></div>
    </div>

    <div class="smallGrey">{{file-path}}{{file-name}}</div>
  </div>
  <div class="hc-list-item-secun hc-tooltip-show">{{file-type}}</div>
  <div class="hc-list-item-tertair hc-tooltip-show">{{file-user}}</div>
  <div class="hc-list-item-tertair hc-tooltip-show">{{file-date}}</div>
  <div class="hc-list-item-tertair"><button>Connect</button></div>
</li>
