<div class="hc-search-items m5">
  <div class="hc-search-items-header m05">
    <div><strong>File search</strong></div>
    <div>
      <button class="hc-subtle">Save query</button>
      <button class="hc-subtle">Open query</button>
    </div>

  </div>
  <div class="hc-search-items-input m1-5"><input type="text" name="" value="" placeholder="type searchword or tag + <enter>" class="hc-input-big">
  <span style="margin: 0 2em;">or</span>
  <button>Browse</button></div>
  <div class="hc-search-items-selection" id="hc-search">
    <div class="smallGrey">Searched for: &nbsp;</div>
    {{> tag label="humanties" type="text"}}
    {{> tag label="linguistic" type="text"}}
    {{> tag label="structered data" type="hashtag"}}


  </div>
</div>
