$colorPrimairy: #468dcb;   //468dcb 03dbe8
$colorSecundairy:#f26c50;  // ddf279;
$colorTertiary: #56504b;
$colorLink: #0087d4;
$colorGreyLightBg: #fafafa;
$colorGreyLightElement: darken( $colorGreyLightBg, 5% );
$colorGreyMid: #999999;
$colorGreyDark: #3e3e3e;
$colorFormElements: #f0f5f9;

$colorSucces: #b4e76b;
$colorDanger: #d42600;
$colorWarning: #e3ca68;

$colorTxt: #3e3e3e;
$colorTxtGrey: #aaaaaa;

$txtSmall: .9rem;

$basicPadding: 1.5rem;
$basicBorderRadius: 3px;

$wrapSite: 1100px;
$wrapText: 600px;
