@import 'var'; 
@import 'typo'; 
@import 'basic-markup'; 
@import 'layout-basic'; 
.hc-vreTopBar {
  width: 100%;
  padding: .75em;
  background-color: $colorPrimairy;
  display: flex;
  justify-content: center;
  color: #fff;
}

.hc-vreTopBar-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hc-vreTopBar-name {

}


.hc-vreTopBar-nav {

}


.hc-vreTopBar-brand {

}

.claria-logo {
  width: 200px;
  height: auto;
  margin-bottom: -.7em;
}
