// #ddf279
// #03dbe8

#bot {
  width: 100vw;
  height: 100vh;
}

#faceStroke {
  stroke: #03dbe8;
  fill: none;
  stroke-width: 3px;
}

#backCircle01{

}

#theFace {
  transform: translate(-200px, -200px) ;
  width: 300px;
  height: 300px;
}

#botFaceBG{
  fill:#ffffff;
}

.lines {
  stroke-width: 1px;
  fill: none;
  stroke: #03dbe8;
}

#maskCircle {
  stroke: #03dbe8;
  fill: #ddf279;
  stroke-width: 2px;
}
